nubis/librarian-puppet.tar.gz
nubis/librarian-puppet
nubis/Puppetfile.lock
nubis/.tmp
nubis/.librarian
terraform/terraform.tfstate*
nubis/cloudformation/parameters*
!nubis/cloudformation/parameters.json-dist
nubis/builder/artifacts/*-dev/
