global:
  # The smarthost and SMTP sender used for mail notifications.
  smtp_smarthost: 'localhost:25'
  smtp_from: 'nubis-team@mozilla.com'

route:
  # Alerts that don't match anything go here
  receiver: 'default-alerts'
  repeat_interval: 4h
  routes:
{{ if exists "/config/PagerDuty/PlatformCriticalServiceKey" }}
    - receiver: 'platform-critical'
      match:
        platform: nubis
        severity: critical
{{ end }}
{{ if exists "/config/PagerDuty/PlatformNonCriticalServiceKey" }}
    - receiver: 'platform-non-critical'
      match:
        platform: nubis
{{ end }}
{{ if exists "/config/PagerDuty/ApplicationCriticalServiceKey" }}
    - receiver: 'application-critical'
      match:
        platform: 'application'
        severity: 'critical'
{{ end }}
{{ if exists "/config/PagerDuty/ApplicationNonCriticalServiceKey" }}
    - receiver: 'application-non-critical'
      match:
        platform: 'application'
{{ end }}

receivers:
  - name: 'default-alerts'
{{if exists "/config/Email/Destination"}}
    email_configs:
      - to: '{{getv "/config/Email/Destination" }}'
        require_tls: false
        send_resolved: true
{{end}}
{{if and (exists "/config/Slack/Url") (exists "/config/Slack/Channel")}}
    slack_configs:
      - api_url: '{{getv "/config/Slack/Url"}}'
        channel: '{{getv "/config/Slack/Channel"}}'
        send_resolved: true
{{end}}
{{if exists "/config/PagerDuty/PlatformCriticalServiceKey"}}
    pagerduty_configs:
      - service_key: '{{getv "/config/PagerDuty/PlatformCriticalServiceKey"}}'
        send_resolved: true
{{end}}

{{if and (exists "/config/Slack/Url") (exists "/config/Slack/Channel")}}
    slack_configs:
      - api_url: '{{getv "/config/Slack/Url"}}'
        channel: '{{getv "/config/Slack/Channel"}}'
        send_resolved: true
{{end}}
{{ if exists "/config/PagerDuty/PlatformCriticalServiceKey" }}
  - name: 'platform-critical'
    pagerduty_configs:
      - service_key: '{{ getv "/config/PagerDuty/PlatformCriticalServiceKey" }}'
        send_resolved: true
{{end}}
{{if and (exists "/config/Slack/Url") (exists "/config/Slack/Channel")}}
    slack_configs:
      - api_url: '{{getv "/config/Slack/Url"}}'
        channel: '{{getv "/config/Slack/Channel"}}'
        send_resolved: true
{{end}}
{{ if exists "/config/PagerDuty/PlatformNonCriticalServiceKey" }}
  - name: 'platform-non-critical'
    pagerduty_configs:
      - service_key: '{{ getv "/config/PagerDuty/PlatformNonCriticalServiceKey" }}'
        send_resolved: true
{{end}}
{{if and (exists "/config/Slack/Url") (exists "/config/Slack/Channel")}}
    slack_configs:
      - api_url: '{{getv "/config/Slack/Url"}}'
        channel: '{{getv "/config/Slack/Channel"}}'
        send_resolved: true
{{end}}
{{ if exists "/config/PagerDuty/ApplicationCriticalServiceKey" }}
  - name: 'application-critical'
    pagerduty_configs:
      - service_key: '{{ getv "/config/PagerDuty/ApplicationCriticalServiceKey" }}'
        send_resolved: true
{{end}}
{{if and (exists "/config/Slack/Url") (exists "/config/Slack/Channel")}}
    slack_configs:
      - api_url: '{{getv "/config/Slack/Url"}}'
        channel: '{{getv "/config/Slack/Channel"}}'
        send_resolved: true
{{end}}
{{ if exists "/config/PagerDuty/ApplicationNonCriticalServiceKey" }}
  - name: 'application-non-critical'
    pagerduty_configs:
      - service_key: '{{ getv "/config/PagerDuty/ApplicationNonCriticalServiceKey" }}'
        send_resolved: true
{{end}}
{{if and (exists "/config/Slack/Url") (exists "/config/Slack/Channel")}}
    slack_configs:
      - api_url: '{{getv "/config/Slack/Url"}}'
        channel: '{{getv "/config/Slack/Channel"}}'
        send_resolved: true
{{end}}
