global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'prometheus'
{{if exists "/config/AccountName"}}
    account: '{{ getv "/config/AccountName" }}'
{{end}}
{{if exists "/config/Environment"}}
    environment: '{{ getv "/config/EnvironmentName" }}'
{{end}}
{{if exists "/config/RegionName"}}
    region: '{{ getv "/config/RegionName" }}'
{{end}}


rule_files:
  - "/etc/prometheus/rules.prom"
  - "/etc/prometheus/nubis.rules.d/*.prom"
  - "/etc/prometheus/rules.d/*.prom"

scrape_configs:
  - job_name: 'prometheus'

    static_configs:
      - targets: ['localhost:80']

  - job_name: 'consul'
    relabel_configs:
    - source_labels: ['__meta_consul_address']
      regex:         '(.*)'
      target_label:  '__address__'
      replacement:   '$1:9107'
    - source_labels: ['__meta_consul_node']
      regex:         '(.*)'
      target_label:  'instance'
      replacement:   '$1'

    consul_sd_configs:
    - server: 'localhost:8500'
      services:
        - consul

  - job_name: 'consul-statsd'
    relabel_configs:
    - source_labels: ['__meta_consul_address']
      regex:         '(.*)'
      target_label:  '__address__'
      replacement:   '$1:9102'
    - source_labels: ['__meta_consul_node']
      regex:         '(.*)'
      target_label:  'instance'
      replacement:   '$1'

    consul_sd_configs:
    - server: 'localhost:8500'
      services:
        - consul

  - job_name: 'fluent'
    relabel_configs:
    - source_labels: ['__meta_consul_address']
      regex:         '(.*)'
      target_label:  '__address__'
      replacement:   '$1:9101'
    - source_labels: ['__meta_consul_node']
      regex:         '(.*)'
      target_label:  'instance'
      replacement:   '$1'

    consul_sd_configs:
    - server: 'localhost:8500'
      services:
        - fluentd

  - job_name: 'node'

    relabel_configs:
    - source_labels: ['__meta_consul_address']
      regex:         '(.*)'
      target_label:  '__address__'
      replacement:   '$1:9100'
    - source_labels: ['__meta_consul_node']
      regex:         '(.*)'
      target_label:  'instance'
      replacement:   '$1'

    consul_sd_configs:
    - server: 'localhost:8500'
      services:
        - datadog
        - node-exporter
