defaultEntryPoints = ["http","https"]
checkNewVersion = false

[entryPoints]
  [entryPoints.http]
    address = ":80"
    [entryPoints.http.redirect]
      entryPoint = "https"
  [entryPoints.https]
    address = ":443"
    proxyprotocol = true
    [entryPoints.https.tls]
{{if exists "/config/Federation/HTPassword"}}
    [entryPoints.https.auth.basic]
      users = [
        "{{ getv "/config/Federation/HTPassword" }}",
        "{{ getv "/config/Admin/HTPassword" }}"
      ]
{{ end }}

[web]
address = ":9109"
[web.metrics.prometheus]

[consul]
endpoint = "127.0.0.1:8500"
watch = true
prefix = "nubis/traefik/{{ getv "/config/Arena" }}/config"

[acme]
# Handle when this isn't set
email="{{ getv "/config/Email/Destination" }}"
storage = "nubis/traefik/{{ getv "/config/Arena" }}/acme"
entryPoint = "https"

# Disable for prod
#caServer = "https://acme-staging.api.letsencrypt.org/directory"

onDemand = false
[[acme.domains]]
   main = "{{ getv "/config/MonDomain" }}"

[file]
[backends]
  [backends.prometheus]
    [backends.prometheus.servers.server1]
    url = "http://127.0.0.1:81"

[frontends]
  [frontends.prometheus]
  passHostHeader = true
  backend="prometheus"
    [frontends.prometheus.routes.main]
    rule="PathPrefix:/prometheus"
